
  
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  button:disabled {
    background-color: #82aedd;
  }

  .heading-text-color{
    color: #0056b3;
    cursor: pointer;
  }
  .radius-5{
    border-radius: 5px;
  }
  .fz-12{
    font-size: 12px;
  }
  .fw-500{
    font-weight: 500;
  }

  .text-danger{
    color: rgb(143, 22, 22);
  }

  .model{
    width: 275px; 
    border-radius: 5px; 
    background-color: white;
  }
  .header-c {
    background-color: #F4F3F0;
  }
  .c-079B16{
    color: #079B16;
  }